contextily==1.6.2
exifread==3.3.2
GDAL==3.11.3
geopandas==1.1.1
imageio==2.37.0
matplotlib==3.10.8
matplotlib_scalebar==0.9.0
numpy==2.4.0
packaging==25.0
pandas==2.3.3
Pillow==12.0.0
progressbar33==2.4
PyExifTool==0.4.13
pysolar==0.13
pytz==2025.2
pyzbar==0.1.9
rasterio==1.4.3
rawpy==0.25.0
scipy==1.16.3
Shapely==2.1.2
skimage==0.0
